.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #09d3ac;
}
.strike {
  text-decoration: line-through
}
#app {
  border-collapse: collapse;
  width: 100%;
}
#app td, #app th {
  border: 0;
  padding: 8px;
  margin: 0;
}
#app tr:nth-child(even){
  background-color: #f2f2f2;
}
#app tr:hover {
  background-color: #ddd;
}
#app thead tr:hover {
  background-color:white;
}
#app th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
}
#app td.ar {
  text-align: right;
}
#list {
  margin-right: 40px;
}
#list, #cart {
  float: left;
}
#app input {
  padding:5px;
  width: 60px;
  font-size: 14px;
}
.red:hover {
  color: red;
  cursor: pointer;
}
.hidden {
  visibility: hidden !important;
}
.math {
  margin:0 5px;
  color: #aaa;
}
button {
  padding: 5px;
  cursor: pointer;
  font-size: 15px;
}
button:disabled {
  cursor:default;
  color: #ddd;
}
.bold {
  font-weight:bold;
}
.fr {
  float:right;
}